@charset "UTF-8";
:global {
  /*.ant-cascader-menus {
    z-index: 9;
  }*/
}

:global .page-breadcrumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

:global .ant-layout {
  background: #f5f4f5;
}

:global a {
  color: #A51E25;
}

:global .ant-btn {
  border-radius: 3px;
}

:global .ant-menu.ant-menu-dark .ant-menu-item-selected,
:global .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #A51E25;
}

:global .ant-cascader-menu-item:hover,
:global .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
:global .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover,
:global .ant-select-dropdown-menu-item:hover,
:global .ant-select-dropdown-menu-item-selected,
:global .ant-select-dropdown-menu-item-selected:hover,
:global .ant-select-tree li .ant-select-tree-node-content-wrapper:hover,
:global .ant-select-tree
li
.ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: #e0eaf1 !important;
}

:global .ant-select-dropdown-menu-item-active:not(:global .ant-select-dropdown-menu-item-disabled) {
  background-color: #e0eaf1 !important;
}

:global .ant-layout-header {
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

:global .ant-layout-header .ant-menu-horizontal {
  border: none;
}

:global .ant-layout-header .ant-menu-submenu {
  border-bottom: none;
}

:global .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

:global .ant-input {
  border-radius: 3px;
}

:global .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

:global .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

:global .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
  background: #f0f2f5;
}

:global .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: #f0f2f5;
  border: none;
  font-size: 14px;
  text-align: center;
  margin-right: 0;
}

:global .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff !important;
  background: #fff !important;
  border-radius: 0 !important;
  border-top: 2px solid #1b8ff1 !important;
}

:global .ant-tabs-bar {
  margin-bottom: 12px;
}

:global .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
:global .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
:global .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
:global .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: rgba(0, 96, 166, 0.1);
}

:global {
  /* 气泡卡片 */
}

:global .has-bottom-actions .tgm-root {
  padding-bottom: 100px;
}

:global .ant-table .ant-table-title {
  padding-bottom: 12px;
}

:global .ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #a51e25;
}

:global .ant-checkbox-indeterminate.ant-checkbox-checked .ant-checkbox-inner {
  background-color: white;
  border-color: #d9d9d9;
}

:global .ant-checkbox-checked:after {
  border: 1px solid #a51e25;
}

:global .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #a51e25;
  border-color: #a51e25;
  border-radius: 1px;
}

:global .ant-checkbox-checked .ant-checkbox-inner:after {
  border-width: 1px;
}

:global .ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner:after {
  border-color: #f0f0f0;
}

:global .ant-checkbox-wrapper:hover .ant-checkbox-inner,
:global .ant-checkbox:hover .ant-checkbox-inner,
:global .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #a51e25;
}

:global .ant-table-pagination.ant-pagination {
  margin: 16px 0 0;
}

:global .ant-table-placeholder {
  border-bottom: none;
}

:global .ant-table {
  color: #666;
}

:global .ant-table-thead > tr > th,
:global .ant-table-tbody > tr > td {
  padding: 12px 16px;
  word-wrap: break-word;
  word-break: break-all;
}

:global .crm {
  /* 面包屑 */
  /*去掉table的圆角*/
  /*弹出确认框*/
  /* upload */
  /* 内容区标题 */
  /* 表单 */
  /* 表格列表 分页样式 */
  /* 详情页图片 */
  /* 设置滚动条的样式 */
  /*
    .test-1::-webkit-scrollbar-thumb {!*滚动条里面小方块*!
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #535353;
    }
    .test-1::-webkit-scrollbar-track {!*滚动条里面轨道*!
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      border-radius: 10px;
      background: #EDEDED;
    }
    */
  /*.ant-layout-sider-children ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0);
    }
    */
  /* 公用 */
  /*  ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
      }

      ::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border: none;
        -webkit-border-radius: 20px;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: #7f7f7f;
        -webkit-border-radius: 20px;
      }

      ::-webkit-scrollbar-corner {
        background-color: #ffffff;
        -webkit-border-bottom-right-radius: 5px;
      } */
  /* 宽度 */
  /* 圆角 */
  /* 气泡卡片 */
  /* 数字inputnumber */
  /* 弹窗样式 */
}

:global .crm html,
:global .crm body,
:global .crm #root {
  height: 100%;
  font-size: 14px;
  background: #f8f8f8;
  word-break: break-all;
}

:global .crm ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

:global .crm ::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

:global .crm ::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

:global .crm input::-webkit-input-placeholder,
:global .crm textarea::-webkit-input-placeholder {
  color: #b2b2b2 !important;
}

:global .crm input::-moz-placeholder,
:global .crm textarea::-moz-placeholder {
  color: #b2b2b2 !important;
}

:global .crm input:-moz-placeholder,
:global .crm textarea::-moz-placeholder {
  color: #b2b2b2 !important;
}

:global .crm input:-ms-input-placeholder,
:global .crm textarea:-ms-input-placeholder {
  color: #b2b2b2 !important;
}

:global .crm .ant-upload-select-picture {
  float: left;
  width: 96px;
  height: 96px;
  text-align: center;
  border: 1px dashed #e5e5e5;
  cursor: pointer;
  border-radius: 3px;
}

:global .crm .ant-upload > div {
  width: 96px;
  height: 96px;
  padding-top: 30px;
}

:global .crm .ant-upload-list-picture .ant-upload-list-item,
:global .crm .ant-upload-list-picture-card .ant-upload-list-item {
  margin: 0 8px 8px 0;
  padding: 0;
  float: left;
  width: 96px;
  height: 96px;
}

:global .crm .ant-upload-list-picture .ant-upload-list-item-thumbnail img,
:global .crm .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  width: 96px;
  height: 96px;
}

:global .crm .ant-upload-list-picture .ant-upload-list-item-thumbnail,
:global .crm .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  top: 0;
  left: 0;
}

:global .crm .ant-upload-list-picture .ant-upload-list-item-name,
:global .crm .ant-upload-list-picture-card .ant-upload-list-item-name {
  display: none;
}

:global .crm :root .ant-upload-list-item .anticon-close {
  top: -6px;
  right: -6px;
  color: #fff;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  padding: 2px;
  background: #000000;
  opacity: 0.4;
}

:global .crm .upload-list-inline {
  display: block;
  width: 110px;
  float: left;
}

:global .crm :root .sfzCardStyle > div {
  float: left;
  margin-right: 5px;
}

:global .crm .ant-breadcrumb > span:last-child {
  color: #666;
}

:global .crm .ant-menu-vertical > .ant-menu-item,
:global .crm .ant-menu-inline > .ant-menu-item,
:global .crm .ant-menu-item-group-list > .ant-menu-item,
:global .crm .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
:global .crm .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
:global .crm .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

:global .crm .ant-menu-inline > .my_menu_item {
  line-height: 45px;
  height: 45px;
  margin-top: 0;
}

:global .crm .margintb5 {
  margin: 5px 0;
}

:global .crm .ant-layout-sider,
:global .crm .ant-menu-dark {
  background: #001529 !important;
}

:global .crm .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #000c17 !important;
}

:global .crm .ant-layout-header {
  padding: 0 12px 0 0;
}

:global .crm .ant-menu-horizontal > .ant-menu-item,
:global .crm .ant-menu-horizontal > .ant-menu-submenu {
  top: 0;
}

:global .crm .ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

:global .crm .ant-btn {
  border-radius: 3px;
}

:global .crm .cont-container {
  height: calc(100vh - 113px);
  background: #fff;
}

:global .crm .ant-table-placeholder {
  padding: 0px;
}

:global .crm .ant-table-thead > tr:first-child > th:first-child {
  border-radius: 0px;
}

:global .crm .ant-table-thead > tr:last-child > th:last-child {
  border-radius: 0px;
}

:global .crm .ant-table-tbody td:first-child,
:global .crm .ant-table-thead th:first-child {
  padding-left: 16px !important;
}

:global .crm .ant-table-thead th:last-child,
:global .crm .ant-table-tbody td:last-child {
  padding-right: 16px !important;
}

:global .crm .ant-empty-normal {
  padding: 60px 0;
  margin: 0;
}

:global .crm .ant-empty-image {
  margin-bottom: 16px;
}

:global .crm .ant-empty-image img {
  height: 34px;
}

:global .crm .commonModal :global {
  width: 320px !important;
  height: 180px !important;
  top: 240px !important;
}

:global .crm .commonModal .ant-modal-body {
  padding: 0 16px;
}

:global .crm .commonModal .ant-modal-confirm-body > .anticon {
  font-size: 16px;
  margin-right: 8px;
  margin-top: 22px;
}

:global .crm .commonModal .ant-modal-confirm-body .ant-modal-confirm-title {
  line-height: 60px;
}

:global .crm .commonModal .ant-modal-confirm-body .ant-modal-confirm-content {
  height: 56px;
  margin-top: 0px;
}

:global .crm .commonModal .ant-modal-confirm-btns {
  margin-top: 0px;
  height: 64px;
  line-height: 64px;
}

:global .crm .commonNull .ant-modal-confirm-body .ant-modal-confirm-content {
  display: none;
}

:global .crm .ant-upload-list-item-name {
  padding-right: 20px;
}

:global .crm .cont-title {
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  font-weight: bold;
}

:global .crm .cont-title .tips,
:global .crm .promotion-tips {
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 400;
  margin-top: 4px;
}

:global .crm .ant-form-item.mb12 {
  margin-bottom: 12px;
}

:global .crm .tableCont .ant-form-item-label {
  line-height: 32px;
}

:global .crm .formList .ant-form-item-control,
:global .crm .row-container .ant-form-item-control,
:global .crm .tableCont .ant-form-item-control {
  line-height: inherit;
}

:global .crm .formList .ant-select-selection__rendered,
:global .crm .row-container .ant-select-selection__rendered,
:global .crm .tableCont .ant-select-selection__rendered {
  line-height: 32px;
}

:global .crm .formList .ant-form-item-label label,
:global .crm .row-container .ant-form-item-label label,
:global .crm .tableCont .ant-form-item-label label {
  color: #666;
}

:global .crm .formList .has-error .ant-form-explain,
:global .crm .formList .has-error .ant-form-split,
:global .crm .row-container .has-error .ant-form-explain,
:global .crm .row-container .has-error .ant-form-split,
:global .crm .tableCont .has-error .ant-form-explain,
:global .crm .tableCont .has-error .ant-form-split {
  margin-top: 4px;
}

:global .crm .ant-pagination-item-active {
  font-weight: 500;
}

:global .crm .ant-btn-primary:focus,
:global .crm .ant-btn-primary:hover {
  color: #fff;
}

:global .crm .ant-select-dropdown-menu-item-active,
:global .crm .ant-select-dropdown-menu-item-divider {
  background-color: rgba(0, 96, 166, 0.1);
}

:global .crm .ant-select-dropdown-menu-item-active:hover,
:global .crm .ant-select-dropdown-menu-item-divider:hover {
  background-color: rgba(0, 96, 166, 0.1);
}

:global .crm .layStyle .ant-menu-horizontal {
  line-height: 62px;
  height: 64px;
}

:global .crm .ant-menu-submenu-horizontal:hover {
  background-color: rgba(83, 134, 240, 0.06);
}

:global .crm .ant-table-fixed .ant-table-align-left,
:global .crm .ant-table-fixed .ant-table-align-right {
  background: #f0f0f0;
}

:global .crm .ant-table-wrapper .ant-pagination-item,
:global .crm .ant-table-wrapper .ant-pagination-prev,
:global .crm .ant-table-wrapper .ant-pagination-next,
:global .crm .ant-table-wrapper .ant-pagination-jump-prev,
:global .crm .ant-table-wrapper .ant-pagination-jump-next {
  min-width: 28px;
  height: 28px;
  line-height: 26px;
}

:global .crm .ant-table-wrapper .ant-pagination-total-text {
  height: 28px;
  line-height: 26px;
}

:global .crm .ant-table-wrapper .ant-pagination-options-quick-jumper {
  height: 28px;
  line-height: 28px;
}

:global .crm .ant-table-wrapper .ant-pagination-options-quick-jumper input,
:global .crm .ant-table-wrapper .ant-select-selection--single {
  height: 28px;
}

:global .crm .ant-table-wrapper .ant-select-selection__rendered {
  line-height: 26px;
}

:global .crm .ant-table-wrapper .noExpand .ant-table-row-expand-icon-cell {
  visibility: hidden;
}

:global .crm .viewImage {
  width: 80px;
  height: 80px;
}

:global .crm .w266 {
  width: 266px;
}

:global .crm .fl {
  float: left;
}

:global .crm .fr {
  float: right;
}

:global .crm .red {
  color: red;
}

:global .crm .mtb16 {
  margin: 16px 0;
}

:global .crm .p16 {
  padding: 16px;
}

:global .crm .ptb16 {
  padding: 16px 0;
}

:global .crm .ptb16-4 {
  padding: 16px 0 4px;
}

:global .crm .plr16 {
  padding: 0 16px;
}

:global .crm .pb32 {
  padding-bottom: 32px;
}

:global .crm .pb64 {
  padding-bottom: 64px;
}

:global .crm .mb8 {
  margin-bottom: 8px;
}

:global .crm .mb16 {
  margin-bottom: 16px;
}

:global .crm .mb12 {
  margin-bottom: 12px;
}

:global .crm .mr4 {
  margin-right: 4px;
}

:global .crm .mr8 {
  margin-right: 8px;
}

:global .crm .mr12 {
  margin-right: 12px;
}

:global .crm .ml4 {
  margin-left: 4px;
}

:global .crm .ml8 {
  margin-left: 8px;
}

:global .crm .ml12 {
  margin-left: 12px;
}

:global .crm .ml32 {
  margin-left: 32px;
}

:global .crm .mb32 {
  margin-bottom: 32px;
}

:global .crm .mb76 {
  margin-bottom: 56px;
}

:global .crm .mb0 {
  margin-bottom: 0;
}

:global .crm .bgwhite {
  background: #fff;
}

:global .crm .border-bottom-gray {
  border-bottom: 1px solid #e5e5e5;
}

:global .crm .borderFull {
  border: 1px solid #ccc;
}

:global .crm .borderFullLight {
  border: 1px solid #e5e5e5;
}

:global .crm .inline {
  display: inline-block;
  width: inherit;
}

:global .crm .w332 {
  width: 332px;
}

:global .crm .h100 {
  height: 100%;
}

:global .crm .fixedBtns {
  position: fixed;
  bottom: 0;
  width: calc(100% - 180px);
  padding: 0 16px;
  line-height: 40px;
  background: #fff;
  margin-left: -16px;
  text-align: right;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

:global .crm .text-right {
  text-align: right !important;
}

:global .crm .has-line::after {
  content: '|';
  font-size: 12px;
  color: rgba(0, 0, 0, 0.1);
  margin-left: 8px;
  overflow: hidden;
}

:global .crm .border-radius3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

:global .crm .tip-icon {
  color: #1890ff;
  cursor: pointer;
}

:global .crm .disFlex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global .crm .grad-table .ant-input-number {
  height: 32px;
  line-height: 32px;
}

:global .crm .grad-table .ant-input-number .ant-input-number-handler-wrap {
  display: none;
}

:global .crm .text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

:global .crm .modal-middle {
  width: 560px !important;
  height: 320px;
}

:global .crm .modal-middle .ant-modal-body {
  padding: 10px 0 16px;
}

:global .crm .modal-big {
  width: 800px !important;
}

:global .crm .modal-big .ant-modal-body {
  padding: 16px;
}

:global .crm .modal-big .mb12 {
  margin-bottom: 12px;
}

:global .crm .modal-big .mr8 {
  margin-right: 8px;
}

:global .crm .modal-big .tableCont {
  min-height: 200px;
}

:global .crm .modal-big .tableCont .ant-table .ant-table-scroll table {
  width: 100%;
}

:global .crm .modal-tip {
  width: 320px !important;
  top: 240px;
}

:global .crm .modal-tip .ant-modal-body {
  padding: 20px 20px 16px;
}

:global .crm .modal-tip .ant-modal-confirm-title {
  line-height: 24px;
}

:global .crm .modal-tip .ant-modal-confirm-content {
  margin-left: 0 !important;
}

:global .crm .modal-tip .ant-modal-confirm-body > .anticon {
  font-size: 16px;
  margin-top: 4px;
  margin-right: 8px;
}

:global .crm .modal-tip .tip-icon {
  color: #faad14 !important;
}

:global .crm .table-popover .ant-popover-inner-content {
  max-width: 460px;
}

:global .crm .ant-popover-inner-content {
  max-width: 800px;
  word-break: break-all;
}

:global .crm #mainContent {
  position: relative;
}

:global .crm .cFaaLZ {
  font-size: 12px;
  transform: scale(0.83333) rotate(0deg);
}

:global .crm .redCon {
  display: inline-block;
  margin-right: 4px;
  content: '*';
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d;
}

:global .crm .aLink {
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  text-decoration: underline;
  font-weight: 700;
}

:global .crm-customer .ant-carousel .slick-slide {
  background: #fff;
  overflow: hidden;
}

:global .crm-customer .mb1 {
  margin-bottom: 1px;
}

:global .crm-customer .border-bottom-none {
  border-bottom: none;
}

:global .crm-customer .layStyle {
  padding: 0 16px;
  background: #fff;
}

:global .crm-customer .fontSize16 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

:global .crm-customer .menuStyle2 {
  top: 0 !important;
  background: #fff !important;
}

:global .crm-customer .contant {
  height: 100%;
  overflow: hidden;
  background: white;
}

:global .crm-customer .hei {
  height: 550px;
  overflow: auto;
}

:global .crm-customer .companyLayStyle {
  padding: 0 16px;
}

:global .crm-customer .companyLayStyle.companyDetail .ant-form-item {
  display: flex;
}

:global .crm-customer .companyLayStyle.companyDetail .ant-form-item .ant-form-item-control-wrapper {
  flex: 1;
  padding-top: 8px;
}

:global .crm-customer .companyLayStyle.companyDetail .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control {
  line-height: 22px;
}

:global .crm-customer .companyLayStyle .ant-form-item-children {
  word-break: break-all;
}

:global .crm-customer .icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

:global .crm-customer .quaTitle {
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
}

:global .crm-customer .contactButt {
  padding: 12px 16px;
}

:global .crm-customer .contactButt button {
  margin-right: 10px;
}

:global .crm-customer .noQualification {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

:global .crm-customer .alertStyle .ant-alert-warning {
  background: #fffaf1 !important;
  border: 1px solid #fef6e7;
  color: #faad14;
}

:global .crm-customer .alertStyle .ant-alert-warning .ant-alert-message {
  color: #faad14;
}

:global .crm-customer .alertStyle .ant-alert-warning .ant-alert-icon {
  color: #faad14;
}

:global .crm-customer .alertStyle .ant-alert-success {
  background: #f3fbf8 !important;
  border: 1px solid #eaf7f2;
  color: #34b37e;
}

:global .crm-customer .alertStyle .ant-alert-success .ant-alert-message {
  color: #34b37e;
}

:global .crm-customer .alertStyle .ant-alert-success .ant-alert-icon {
  color: #34b37e;
}

:global .crm-customer .alertStyle .ant-alert-error {
  background: #fff2f3 !important;
  border: 1px solid #fee8ea;
  color: #f5222d;
}

:global .crm-customer .alertStyle .ant-alert-error .ant-alert-message {
  color: #f5222d;
}

:global .crm-customer .alertStyle .ant-alert-error .ant-alert-icon {
  color: #f5222d;
}

:global .crm-customer .score-list {
  padding: 12px 0;
}

:global .crm-customer .score-list .score-list-item {
  font-size: 14px;
  text-align: right;
  color: #666;
  margin-bottom: 9px;
}

:global .crm-customer .score-list .score-list-item .item-text {
  margin-left: 12px;
}

:global .crm-customer .score-list .score-list-item .item-text.bold {
  color: #333;
  font-weight: bold;
}

:global .crm-customer .ant-steps-item-icon {
  margin-top: 14px;
}

:global .crm-customer .ant-steps-item-title:after {
  margin-top: 14px;
}

:global .crm-customer .ant-upload.ant-upload-select-picture-card {
  float: left !important;
}

:global .crm-customer .title1 {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 16px;
  font-weight: bold;
  color: #333;
}

:global .crm-customer .title2 {
  line-height: 46px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
}

:global .crm-customer .stepArea {
  padding: 16px 100px;
}

:global .crm-customer .stepArea .stepsName1 .ant-steps-item-title {
  width: 90px;
  white-space: normal;
}

:global .crm-customer .stepArea .stepsName2 .ant-steps-item-title {
  width: 100px;
  white-space: normal;
}

:global .crm-customer .stepArea .stepsName3 .ant-steps-item-title {
  width: 75px;
  white-space: normal;
}

:global .crm-customer .stepArea .ant-steps-item-icon {
  margin-top: 14px;
}

:global .crm-customer .photoMs {
  float: left;
  font-size: 12px;
  width: 70%;
  line-height: 25px;
}

:global .crm-customer #firstStep .ant-row .ant-form-item {
  width: 90%;
}

:global .crm-customer .agent-tip {
  font-size: 20px;
}

:global .crm-customer .recommenderWrapper
> .ant-form-item-control-wrapper
> .ant-form-item-control
> .ant-form-item-children {
  display: flex;
}

:global .crm-customer .recommenderWrapper
> .ant-form-item-control-wrapper
> .ant-form-item-control
> .ant-form-item-children .wrapperItem {
  flex: 1;
}

:global .crm-customer .photoMs {
  font-size: 12px;
  width: 50%;
  line-height: 25px;
}

:global .crm-customer .icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
  overflow: hidden;
}

:global .crm-customer .my-tab {
  background: #f0f2f5;
}

:global .crm-customer .my-tab.ant-menu-horizontal {
  height: 38px;
  line-height: 36px;
}

:global .crm-customer .ant-upload-select-picture {
  float: left;
  width: 96px;
  height: 96px;
  text-align: center;
  border: 1px dashed #e5e5e5;
  cursor: pointer;
  border-radius: 3px;
}

:global .crm-customer .ant-upload > div {
  width: 96px;
  height: 96px;
  padding-top: 30px;
}

:global .crm-customer .ant-upload-list-picture .ant-upload-list-item,
:global .crm-customer .ant-upload-list-picture-card .ant-upload-list-item {
  margin: 0 8px 8px 0;
  padding: 0;
  float: left;
  width: 96px;
  height: 96px;
}

:global .crm-customer .ant-upload-list-picture .ant-upload-list-item-thumbnail img,
:global .crm-customer .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  width: 96px;
  height: 96px;
}

:global .crm-customer .ant-upload-list-picture .ant-upload-list-item-thumbnail,
:global .crm-customer .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  top: 0;
  left: 0;
}

:global .crm-customer .ant-upload-list-picture .ant-upload-list-item-name,
:global .crm-customer .ant-upload-list-picture-card .ant-upload-list-item-name {
  display: none;
}

:global .crm-customer :root .ant-upload-list-item .anticon-close {
  top: -6px;
  right: -6px;
  color: #fff;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  padding: 2px;
  background: #000000;
  opacity: 0.4;
}

:global .crm-customer .upload-list-inline {
  display: block;
  width: 800px;
  float: left;
}

:global .crm-customer :root .sfzCardStyle > div {
  float: left;
  margin-right: 5px;
}

:global .crm-credit .cont-title {
  margin-bottom: 16px;
}

:global .crm-credit .creditContant {
  height: 100%;
  overflow: hidden;
  background: #fff;
  margin-top: 12px;
  border-radius: 3px;
}

:global .crm-credit .CustomerCreditTabs .ant-menu {
  background: #f0f2f5;
}

:global .crm-credit .creditReport {
  padding: 16px;
}

:global .crm-credit .creditReport .creditReportTable {
  margin-top: 12px;
}

:global .crm-credit .creditReport .creditReportTable .ant-table-thead > tr > th,
:global .crm-credit .creditReport .creditReportTable .ant-table-tbody > tr > td {
  padding: 12px 16px !important;
  line-height: 22px;
  border-bottom-color: #e5e5e5;
}

:global .crm-credit .creditApplyModal .ant-modal-body {
  padding: 0;
  height: 217px;
}

:global .crm-credit .creditApplyModal .ant-form {
  margin-top: 16px;
  text-align: center;
}

:global .crm-credit .creditApplyModal .ant-form-explain {
  text-align: left;
}

:global .crm-credit .noCredit {
  width: 100%;
  height: 40px;
  background: #fee8ea;
  border: 1px solid #fdd3d7;
  border-left: none;
  border-right: none;
}

:global .crm-credit .reportRecordModal .ant-modal-body {
  padding: 16px !important;
}

:global .crm-credit .reportRecordModal .reportRecordTable .ant-table-thead > tr > th,
:global .crm-credit .reportRecordModal .reportRecordTable .ant-table-tbody > tr > td {
  padding: 12px 16px !important;
  line-height: 22px;
  border-bottom-color: #e5e5e5;
}

:global .crm-credit .reportRecordModal .reportRecordDiv {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

:global .crm-credit .reportLog {
  padding: 16px;
}

:global .crm-credit .reportLog .reportLogTable {
  margin-top: 12px;
}

:global .crm-credit .reportLog .reportLogTable .ant-table-thead > tr > th,
:global .crm-credit .reportLog .reportLogTable .ant-table-tbody > tr > td {
  padding: 12px 16px !important;
  line-height: 22px;
  border-bottom-color: #e5e5e5;
}

:global .crm-credit .reportDetailModal .reportDetailDiv {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 16px;
}

:global .crm-credit .reportDetailModal .textRight {
  text-align: right;
}

:global .crm-credit .reportDetailModal .ant-row {
  margin-bottom: 12px;
}

:global .contractTermsDetail {
  padding: 16px;
  background: #fff;
  margin-bottom: 16px;
  border-radius: 3px;
}

:global .loginForm {
  margin-left: 5%;
  margin-top: 1%;
  width: 90%;
  padding: 20px 20px 20px 40px;
}

:global .marginTop {
  margin-top: 20px;
  margin-bottom: 16px;
}

:global .textRight {
  text-align: right;
}

:global .contractTermsDetail .cont-title {
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  font-weight: bold;
  margin-bottom: 16px;
}

:global .contractTermsDetail .ant-form-item-label {
  line-height: 22px;
  margin-bottom: 4px;
}

:global .contractTermsDetail .textAreaWidth textarea {
  resize: none;
  border: none;
  padding: 0;
  color: #333;
}

:global .contractTermsDetail .ant-form-item {
  margin-bottom: 12px;
}

:global .contractTermsDetail .innerContent {
  display: inline-block;
  width: 332px;
  line-height: 16px;
  word-break: break-all;
  color: #333333;
}

:global .contractTermsDetail .marBto16 {
  margin-bottom: 16px;
}

:global .contractTermsDetail .fixedBtns {
  position: fixed;
  bottom: 0;
  width: calc(100% - 180px);
  padding: 16px;
  background: #fff;
  margin-left: -16px;
  text-align: right;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

:global .contractTermsEdit {
  padding: 0 16px 16px;
  background: #fff;
  margin-bottom: 16px;
  border-radius: 3px;
}

:global .loginForm {
  margin-left: 5%;
  margin-top: 1%;
  width: 90%;
  padding: 20px 20px 20px 40px;
}

:global .marginTop {
  margin-top: 20px;
  margin-bottom: 16px;
}

:global .textRight {
  text-align: right;
}

:global .contractTermsEdit .ant-form-item-label {
  line-height: 22px;
  margin-bottom: 4px;
}

:global .contractTermsEdit .textAreaWidth textarea {
  resize: none;
  color: #333333;
}

:global .contractTermsEdit .ant-form-item {
  margin-bottom: 12px;
}

:global .contractTermsEdit .ant-select {
  color: #333333;
}

:global .contractTermsEdit .ant-select-disabled,
:global .contractTermsEdit .ant-select-selection__placeholder,
:global .contractTermsEdit .ant-input-disabled {
  color: #b2b2b2 !important;
}

:global .contractTermsEdit .ant-form-item-label label,
:global .contractTermsEdit .ant-form-item-label label {
  color: #666666 !important;
}

:global .contractTermsEdit .ant-form-item-label label:after {
  content: '';
}

:global .activity .rule {
  padding: 12px 0 0 16px;
}

:global .activity .coupon-container {
  overflow: hidden;
}

:global .activity .w200 {
  width: 200px;
}

:global .activity .w160 {
  width: 156px;
}

:global .activity .datePicker .ant-form-item-children,
:global .activity .sendChannel .ant-form-item-children {
  display: flex;
  align-items: center;
}

:global .activity .datePicker .flexItem,
:global .activity .sendChannel .flexItem {
  flex: 1;
}

:global .activity .flexStart {
  align-items: flex-start !important;
}

:global .activity .flexError .has-error {
  display: flex;
  align-items: center;
}

:global .activity .flexError .has-error .ant-form-explain {
  margin-top: 0;
}

:global .activity .sendChannel {
  padding: 8px 16px;
}

:global .activity .sendChannel:hover {
  background: rgba(0, 96, 166, 0.1);
}

:global .activity .sendChannel .ant-checkbox-wrapper {
  width: 116px;
}

:global .activity .sendChannel .mr16 {
  margin-right: 16px;
}

:global .activity .commodity-form .ant-form-item-label {
  width: 100%;
  color: #333333;
  font-weight: 500;
  text-align: left;
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 12px;
}

:global .activity .commodity-form .ant-form-item-label label {
  font-size: 16px;
}

:global .activity .conditonBar .ant-form-item-label {
  margin-bottom: 0;
}

:global .activity .picker-setting .ant-calendar-picker {
  width: 100% !important;
}

:global .activity .mb4 {
  margin-bottom: 4px;
}

:global .modalCont .ant-form-item-label {
  line-height: 20px;
}

:global .modalCont .upload {
  display: inline-block;
  width: 96px;
  height: 96px;
  border: 1px dashed #e5e5e5;
  border-radius: 4px;
  text-align: center;
  color: #999;
  cursor: pointer;
}

:global .modalCont .upload .ant-upload-select-text {
  display: block;
  height: 100%;
}

:global .modalCont .ant-upload.ant-upload-select-picture-card {
  margin: 0;
}

:global .modalCont .tip {
  font-size: 12px;
}

:global .modalCont .ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

:global .contactButt {
  padding: 12px 16px;
}

:global .contactButt button {
  margin-right: 10px;
}

:global .alertStyle .ant-alert-error {
  background: #fff2f3 !important;
  border: 1px solid #fee8ea;
  color: #f5222d;
}

:global .alertStyle .ant-alert-error .ant-alert-message {
  color: #f5222d;
}

:global .alertStyle .ant-alert-error .ant-alert-icon {
  color: #f5222d;
}

:global .ant-carousel .slick-slide {
  background: #fff;
  overflow: hidden;
}

:global .ant-upload.ant-upload-select-picture-card {
  float: left !important;
}

:global .mb1 {
  margin-bottom: 1px;
}

:global .mt20 {
  margin-top: 20px;
}

:global .detailCont .ant-form-item {
  margin-bottom: 12px;
}

:global .width85P {
  word-break: break-all;
  width: 85%;
}

:global .quaTitle {
  height: 40px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
}

:global .noQualification {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

:global .ant-form-item-label label,
:global .ant-form-item-control {
  color: #333333;
}

:global .reasonModal .ant-modal-close {
  display: none;
}

:global .reasonModal .ant-form-item-required,
:global .reasonModal .ant-form-item-label label {
  color: #666666;
}

:global .reasonModal .ant-form-item-children > textarea,
:global .reasonModal .ant-select-selection-selected-value,
:global .reasonModal .ant-calendar-picker-input {
  color: #333333;
}

:global .width100,
:global .width100 .ant-form-item-control-wrapper {
  width: 100%;
}

:global .hideClose .ant-modal-close-x {
  display: none;
}

:global .alertStyle .ant-alert-warning {
  background: #fffaf1 !important;
  border: 1px solid #fef6e7;
  color: #faad14;
}

:global .alertStyle .ant-alert-warning .ant-alert-message {
  color: #faad14;
}

:global .alertStyle .ant-alert-warning .ant-alert-icon {
  color: #faad14;
}

:global .alertStyle .ant-alert-success {
  background: #f3fbf8 !important;
  border: 1px solid #eaf7f2;
  color: #34b37e;
}

:global .alertStyle .ant-alert-success .ant-alert-message {
  color: #34b37e;
}

:global .alertStyle .ant-alert-success .ant-alert-icon {
  color: #34b37e;
}

:global .recommenderWrapper .wrapperItem {
  flex: 1;
  margin-right: 0;
}

:global .recommenderWrapper .wrapperItem .ant-form-item-control-wrapper {
  width: 100%;
}

:global .ant-steps-item-icon {
  margin-top: 14px;
}

:global .ant-steps-item-title:after {
  margin-top: 14px;
}

:global .ant-upload.ant-upload-select-picture-card {
  float: left !important;
}

:global .title1 {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 16px;
  font-weight: bold;
  color: #333;
}

:global .title2 {
  line-height: 46px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  padding-top: 10px;
  font-weight: bold;
}

:global .photoMs {
  float: left;
  font-size: 12px;
  width: 70%;
  line-height: 25px;
}

:global #firstStep .ant-row .ant-form-item {
  width: 90%;
}

:global .agent-tip {
  font-size: 20px;
}

:global .recommenderWrapper
> .ant-form-item-control-wrapper
> .ant-form-item-control
> .ant-form-item-children {
  display: flex;
}

:global .recommenderWrapper
> .ant-form-item-control-wrapper
> .ant-form-item-control
> .ant-form-item-children .wrapperItem {
  flex: 1;
}

:global .tip-icon {
  color: #1890ff;
  cursor: pointer;
}

:global .disFlex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global .upload .ant-upload.ant-upload-select-picture-card {
  position: relative;
  top: 0;
  z-index: 1;
  width: 96px;
  height: 96px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

:global .upload .ant-upload.ant-upload-select-picture-card > .ant-upload {
  padding: 0;
}

:global .upload .ant-upload.ant-upload-select-picture-card > .ant-upload .anticon-picture {
  font-size: 16px;
  vertical-align: middle;
}

:global .upload .ant-upload.ant-upload-select-picture-card > .ant-upload .ant-upload-text {
  color: #999999;
}

:global .rangePicker2.ant-calendar-picker {
  min-width: 170px !important;
}

:global .ant-form .rangePicker2 {
  min-width: auto !important;
}

:global .customer-service {
  position: fixed;
  right: 3px;
  bottom: 150px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  color: #1e1e1e;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

:global .my-icon {
  font-size: 28px;
}